GameplayTimer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: Poppins;
	font-size: 48px;
	text-stroke: 4px, #ffffff;

	.GameplayTimerUI {
		position: absolute;
		left: 50%;
		bottom: 10%;
		transform: translateX( -50% );
	}

	.GameplayPizzaAlert {
		position: absolute;
		left: 50%;
		bottom: 5%;
		transform: translateX( -50% );
	}
}
