GameplayTimer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.GameplayTimerUI {
		position: absolute;
		left: 50%;
		bottom: 10%;
		transform: translateX( -50% );
	}

	.GameplayPizzaAlert {
		position: absolute;
		left: 10%;
		bottom: 10%;
		transform: translateX( -50% );
	}
}
