MovementPanel {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: Poppins;
	font-size: 36px;

	.stamina {
		position: absolute;
		left: 10%;
		bottom: 10%;
		transform: translateX( -50% );
	}
}
