@using Sandbox;
@using Sandbox.UI;
@using System;
@inherits PanelComponent
@namespace Sandbox

<root>
    <div class="stamina">Wallride Stamina: @RoundedStamina</div>
</root>

@code
{
    private WallJumpSlide WallJumpComponent;

    private int RoundedStamina => (int)Math.Round(WallJumpComponent?.Stamina ?? 0f);

    protected override void OnStart()
    {
        // Find the WallJumpSlide component on the player at runtime
        var player = Scene.GetAllComponents<PlayerController>().FirstOrDefault();
        if (player != null)
        {
            WallJumpComponent = player.Components.Get<WallJumpSlide>(FindMode.InSelf);
        }

        if (WallJumpComponent == null)
            Log.Warning("WallJump UI: No WallJumpSlide component found on the player!");
    }

    protected override int BuildHash()
    {
        return System.HashCode.Combine(RoundedStamina);
    }
}
